body {
  margin: 0;
  padding: 0;
  background-color: rgba(211, 211, 211, 0.51);
  font-family: Arial, sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
}